<h4>Добавление нового населенного пункта</h4>
<div class="locality">
  <div class="content">
    <div class="select-locality">
      <div class="s-l">
        <div>Страна</div>
        <app-select></app-select>
      </div>
      <div class="s-l">
        <div>Область</div>
        <app-select></app-select>
      </div>
      <div class="s-l">
        <div>Район</div>
        <app-select></app-select>
      </div>
      <div class="s-l">
        <div>городсткое поселение</div>
        <app-select></app-select>
      </div>
      <div class="s-l">
        <div>Сельсктое поселение</div>
        <app-select></app-select>
      </div>
      <div class="s-l">
        <div>Тип</div>
        <app-select></app-select>
      </div>
    </div>
    <div class="name-locality">

    </div>
    <div class="extra-locality">

    </div>
  </div>
  <div class="map">
    <app-map></app-map>
  </div>
</div>
