<div class="base-list">
  <h4>{{title}}</h4>
  <div class="header">
    <div class="left-action">
      <app-button
        [text]="'Добавить'"
        (click)="addItemList()">
      </app-button>
    </div>
    <div class="right-action">
      <app-button
        [text]="'Очистить фильтры'"
        (click)="clearFilterList()">
      </app-button>
      <app-button
        class="filter"
        [text]="'Показать / скрыть колонки'"
        [type]="'filter'"
        (click)="toggleColumnVisibleList()">
      </app-button>
      <div class="show-items">
        Показать
        <select
          (change)="changeItemsPerPageList($event.target.value)">
          <option *ngFor="let item of itemsPerPage" value="{{item}}">
            {{item}}
          </option>
        </select>
         строк
      </div>
    </div>
  </div>
  <div class="list">
    <ng-content></ng-content>
  </div>
  <div class="mapping" *ngIf="isMapping">
    <app-button
      [text]="'Смапить выбранные'"
      (click)="mappingSelected()">
    </app-button>
    <app-button
      class="filter"
      text='Поставить отметку "невозможно смапить"'
      (click)="markAsImpossible()">
    </app-button>
  </div>
  <div class="pagination">
    <app-pagination></app-pagination>
  </div>
</div>
