.locality-addition{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 20px;
  .content{
    display: flex;
    flex-direction: column;
    padding-right: 10px;
    .search{
      padding-bottom: 14px;
      flex: 0 0 auto;
      .name{
        font-weight: 500;
        color: #000;
      }
      .search-stopping{
        display: flex;
        align-items: center;
        .search-component{
          margin-right: 20px;
          width: 300px;
        }
      }
    }
    .search-result{
      flex-grow: 1;
      overflow: auto;
      height: 100%;
    }
  }
}
