<h4>Добавление населенного пункта</h4>
<div class="locality-addition">
  <div class="content">
    <div class="search">
      <div class="name">Название</div>
      <div class="search-stopping">
        <app-auto-complete class="search-component"></app-auto-complete>
        <app-button [text]="'Найти'"></app-button>
      </div>
    </div>
    <div class="search-result">
      <app-search-stopping-list></app-search-stopping-list>
    </div>
  </div>
  <div class="map">
    <app-map></app-map>
  </div>
</div>
